@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "calt" off, "cv05" on, "cv08" on, "ss03" on;
    src: url("inter-ui/Inter (web)/Inter-roman.var.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "calt" off, "cv05" on, "cv08" on, "ss03" on;
    src: url("inter-ui/Inter (web)/Inter-italic.var.woff2") format("woff2");
  }

  * {
    --font-feature-case: "case" off;
    font-feature-settings: var(--font-feature-case);

    --hl-italic-light: normal;
    --hl-bold-light: normal;
    --hl-underline-light: none;
    --hl-italic-dark: normal;
    --hl-bold-dark: normal;
    --hl-underline-dark: none;
  }

  .anchor {
    @apply font-medium text-purple-600 underline dark:text-purple-400;
  }

  a {
    @apply anchor;
  }
}

@layer components {
  .prose {
    @apply prose-a:anchor dark:prose-invert lg:prose-lg xl:prose-xl 2xl:prose-2xl;

    pre {
      @apply rounded-md border border-purple-300/50 bg-purple-200/20 dark:border-purple-700/50 dark:bg-purple-800/20 xl:rounded-lg;
    }

    pre[data-syntax-highlighted] span {
      color: var(--hl-color-light);
      font-style: var(--hl-italic-light);
      font-weight: var(--hl-bold-light);
      text-decoration: var(--hl-underline-light);
    }

    @media (prefers-color-scheme: dark) {
      pre[data-syntax-highlighted] span {
        color: var(--hl-color-dark);
        font-style: var(--hl-italic-dark);
        font-weight: var(--hl-bold-dark);
        text-decoration: var(--hl-underline-dark);
      }
    }

    kbd.key {
      @apply rounded border border-gray-400 bg-gray-200 px-1 py-0.5 font-sans text-sm dark:border-gray-600 dark:bg-gray-800 lg:px-1.5 lg:text-base xl:text-lg 2xl:text-xl;
    }

    a[data-footnote-ref] {
      @apply no-underline;
    }

    section[data-footnotes] ol {
      @apply list-none p-0;
      counter-reset: item;
    }

    section[data-footnotes] li {
      @apply relative p-0;
      counter-increment: item;
    }

    section[data-footnotes] p {
      @apply pl-3.5 text-sm lg:pl-4 lg:text-base xl:pl-5 xl:text-lg 2xl:pl-6 2xl:text-xl;
    }

    a[data-footnote-backref]:before {
      @apply absolute top-[-.1em] left-0 text-[75%];
      content: counter(item);
    }
  }
}

@layer utilities {
  .font-feature-case {
    --font-feature-case: "case" on;
  }
}
