@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "calt" off, "cv05" on, "cv08" on, "ss03" on;
    src: url("inter-ui/Inter (web)/Inter-roman.var.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "calt" off, "cv05" on, "cv08" on, "ss03" on;
    src: url("inter-ui/Inter (web)/Inter-italic.var.woff2") format("woff2");
  }

  :root {
    @accent violet;
    --font-feature-case: "case" off;
    --hl-italic-light: normal;
    --hl-bold-light: normal;
    --hl-underline-light: none;
    --hl-italic-dark: normal;
    --hl-bold-dark: normal;
    --hl-underline-dark: none;
  }

  * {
    font-feature-settings: var(--font-feature-case);
  }

  a {
    @apply font-medium text-accent-600 underline dark:text-accent-400;
  }
}

@layer components {
  .prose {
    @apply dark:prose-invert lg:prose-lg xl:prose-xl 2xl:prose-2xl;

    /* round accented blocks */
    pre,
    callout,
    tangent {
      @apply border border-accent-300/50 bg-accent-200/20 dark:border-accent-700/50 dark:bg-accent-800/20;

      & + section[data-footnotes] {
        @apply border-t-0;
      }
    }

    /* round accented blocks that are custom elements and need spacing defined */
    callout,
    tangent {
      @apply my-6 block rounded-md px-4 py-3 lg:my-8 lg:px-6 lg:py-4 xl:my-9 xl:rounded-lg xl:py-5 2xl:my-10 2xl:px-8 2xl:py-6;

      > {
        @apply first:mt-0 last:mb-0;
      }
    }

    tangent {
      @accent pink;
      @apply relative mt-10 border-dashed lg:mt-12 xl:mt-14;

      &:before {
        content: "the tangent zone";

        /* -10/11 em, based on font metrics (inter's UPM is 256*11) */
        margin-top: calc(-10em / 11);
        /* shift half a pixel down so the baseline is on the bottom edge of the border */
        top: 0.5px;

        @apply absolute left-4 text-xs italic leading-none text-accent-600 dark:text-accent-400 lg:left-6 lg:text-sm lg:leading-none xl:text-base xl:leading-none 2xl:left-8 2xl:text-lg 2xl:leading-none;
      }

      > tangent {
        @apply bg-accent-200/10 dark:bg-accent-800/10;
      }

      > tangent:before {
        content: "the cotangent zone";
      }

      > tangent > tangent:before {
        content: "the \201cwhat was i talking about again\201d\0020zone";
      }

      > tangent > tangent > tangent:before {
        content: "<!-- FIXME(iliana): refactor blog post -->";
      }
    }

    code[data-syntax-highlighted] span {
      color: var(--hl-color-light);
      font-style: var(--hl-italic-light);
      font-weight: var(--hl-bold-light);
      text-decoration: var(--hl-underline-light);

      @media (prefers-color-scheme: dark) {
        color: var(--hl-color-dark);
        font-style: var(--hl-italic-dark);
        font-weight: var(--hl-bold-dark);
        text-decoration: var(--hl-underline-dark);
      }
    }

    kbd.key {
      @apply rounded border border-gray-400 bg-gray-200 px-1 py-0.5 font-sans text-sm dark:border-gray-600 dark:bg-gray-800 lg:px-1.5 lg:text-base xl:text-lg 2xl:text-xl;
    }
  }

  .prose callout,
  .prose tangent,
  section[data-footnotes] {
    @apply prose-sm lg:prose-base xl:prose-lg 2xl:prose-xl;
  }

  section[data-footnotes] {
    @apply border-t border-accent-300/50 dark:border-accent-700/50;

    ol {
      @apply list-none p-0;
    }

    li {
      @apply relative p-0;
    }

    p {
      @apply pl-3.5 leading-relaxed lg:pl-4 xl:pl-5 2xl:pl-6;
    }
  }

  a[data-footnote-ref] {
    @apply no-underline;
  }

  a[data-footnote-backref]:before {
    top: calc(2em / 11);
    content: counter(list-item);
    @apply absolute left-0 text-[75%];
  }
}

.font-feature-case {
  --font-feature-case: "case" on;
}
